html {
  scroll-behavior: smooth;
}

.nav-bar-other {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
  background-color: white;
}

.nav-container-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 26px;
  margin-right: 26px;
}

.a-logo-other {
  color: #1c1c1c;
  text-decoration: none;
}

.logo-other {
  color: #1c1c1c;
  font-family: 'Roboto Slab', serif;
  font-size: 27px;
  font-weight: 500;
}

.form-block-other {
  display: flex;
  justify-content: space-between;
}

.post-code-input-other {
  width: 75%;
  min-width: 0;
  padding: 13px 23px;
  border: solid white;
  border-radius: 3px;
  border-width: 1px;
  margin-right: 5px;
  background-color: transparent;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;

  border: solid 1px;
}

::placeholder {
  color: grey;
}

.go-button-other {
  min-width: 0;
  padding: 13px 23px;
  border-color: black;
  border-radius: 3px;
  border-width: 0px;
  margin-left: 5px;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.main-section-other {
  display: flex;
  justify-content: center;
  padding: 75px 10px 15px 10px;
  background-color: #9FB486;
  color: white;
}

.main-container-other {
  display: flex;
  justify-content: center;
  min-width: 0;
  padding: 10px 20px;
  margin: 50px;
}

.main-column1-other {
  display: block;
  align-items: center;
  width: 50%;
  min-height: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.main-h2-other {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

.main-paragraph-other {
  display: flex;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: black;
}

.main-h4-other {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
